<%= form_with model: current_user, url: profile_path, class: "edit-profile-form" do |f| %>
  <div class="field">
    <div class="label"><%= f.label :active %></div>
    <div class="input">
      <%= f.collection_radio_buttons(:active, { true => :active, false => :inactive }, :first, :last) do |b| %>
        <div class="active-radio">
          <%= b.radio_button %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
    <div class="description"><%= t('helpers.description.user.active') %></div>
  </div>

  <div class="field">
    <div class="label"><%= f.label :picture %></div>
    <div class="input">
      <% if current_user.picture.attachment %>
        <%= image_tag current_user.picture, class: "picture-img" %>
      <% end %>
      <%= f.file_field :picture %>
    </div>
    <div class="description"><%= t('helpers.description.user.picture') %></div>
  </div>

  <div class="field">
    <div class="label"><%= f.label :name %></div>
    <div class="input"><%= f.text_field :name %></div>
    <div class="description"><%= t('helpers.description.user.name') %></div>
  </div>

  <div class="field">
    <div class="label"><%= f.label :email %></div>
    <div class="input"><%= f.text_field :email %></div>
    <div class="description"><%= t('helpers.description.user.email') %></div>
  </div>

  <div class="field">
    <div class="label"><%= f.label :location %></div>
    <div class="input"><%= f.text_field :location %></div>
    <div class="description"><%= t('helpers.description.user.location') %></div>
  </div>

  <div class="field">
    <div class="label"><%= f.label :bio %></div>
    <div class="input"><%= f.text_area :bio %></div>
    <div class="description"><%= t('helpers.description.user.bio') %></div>
  </div>

  <div class="field">
    <div class="label"><%= t 'helpers.label.user.careers' %></div>
    <div class="input">
      <%= f.collection_check_boxes(:careers, User::CareerPaths, :itself, :itself) do |b| %>
        <div class="career-checkbox">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
    <div class="description"><%= t('helpers.description.user.careers') %></div>
  </div>


  <div class="field">
    <div class="label"><%= f.label :year_in %></div>
    <div class="input"><%= f.number_field :year_in %></div>
    <div class="description"><%= t('helpers.description.user.year_in') %></div>
  </div>

  <div class="field">
    <div class="label"><%= f.label :year_out %></div>
    <div class="input"><%= f.number_field :year_out %></div>
    <div class="description"><%= t('helpers.description.user.year_out') %></div>
  </div>

  <div class="field">
    <div class="label"><%= f.label :url_text %></div>
    <div class="input"><%= f.text_area :url_text %></div>
    <div class="description"><%= t('helpers.description.user.url_text') %></div>
  </div>

  <%= f.submit %>
<% end %>
