<h1>Create an account</h1>

<p>
  Registration is this platform is limited to MIEIC students. We restrict this
  by only allowing sign-ups from @fe.up.pt emails. If you lost your access to
  your institutional email, please contact us so we can help:
  <a href='mailto:mentor@alumniei.pt'>mentor@alumniei.pt</a>
</p>

<%= form_for @user, url: registrations_path do |f| %>
  <%- if @user.errors.any? %>
    <ul class="registrations-errors">
      <% @user.errors.each do |_, error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <%- end %>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email, placeholder: "email@fe.up.pt", required: true %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password, required: true %>
  </div>

  <%= f.submit %>
<% end %>

<p>
  Already have an account yet? <%= link_to t('views.registrations.new.login'), new_session_path %>
</p>
