<h1><%= t 'views.invitations.new.title' %></h1>

<%= form_with model: @invitation, url: invitations_path do |f| %>
  <%- if @invitation.errors.any? %>
    <ul class="invitations-errors">
      <% @invitation.errors.each do |_, error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <%- end %>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
  </div>

  <%= f.submit %>
<% end %>
