<%= cache mentor do %>
  <section class="h-card mentor-list-item">
    <header>
      <% if mentor.picture.attachment %>
        <%= image_tag mentor.picture.variant(resize_to_limit: [384, 384]), class: "u-photo" %>
      <% else %>
        <%= image_tag(
          '/assets/default-avatar',
          class: "u-photo default-picture",
          style: "object-position: -#{mentor.id.sum % 375}px -#{mentor.id.sum % 65}px",
        ) %>
      <% end %>

      <h2 class="p-name"><%= mentor.name %></h2>

      <div class="u-email"><%= mail_to mentor.email, mentor.email %></div>

      <div class="location">
        <%= t(
          'views.mentors.index.location',
          locality: "<span class=\"p-locality\">#{mentor.location_locality}</span>",
          country: "<span class=\"p-country-name\">#{mentor.location_country}</span>",
        ).html_safe %>
      </div>

      <div class="attendance">
        <%= t(
          'views.mentors.index.attendance',
          from: "<time datetime=\"#{mentor.year_in}\">#{mentor.year_in}</time>",
          to: "<time datetime=\"#{mentor.year_out}\">#{mentor.year_out}</time>",
        ).html_safe %>
      </div>
    </header>

    <div class="tags">
      <% mentor.tags.each do |tag| %>
        <span class="tag"><%= tag.localized_name %></span>
      <% end %>
    </div>

    <div class="urls">
      <% mentor.urls.each do |url| %>
        <%= link_to url, url, class: "u-url" %>
      <% end %>
    </div>

    <div class="biography">
      <%= simple_format mentor.bio %>
    </div>
  </section>
<% end %>
