<!DOCTYPE html>
<html>
  <head>
    <title>Mentorados</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%# javascript_pack_tag 'application' %>
  </head>

  <body>
    <header>
      <h1><%= t 'views.home.index.title' %></h1>

      <%- if current_user %>
        <nav>
          <ul>
            <li><%= link_to t('views.layout.navigation.mentors'), mentors_path %></li>
            <li><%= link_to t('views.layout.navigation.profile'), "/profile" %></li>
            <li><%= button_to t('views.layout.navigation.logout'), session_path, method: :delete %></li>
          </ul>
        </nav>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
